/* CSS RESET */


/*--------  BASE  --------*/

body {
	background-color:lightgrey;
    font-family:  Helvetica, Arial, sans-serif;
}


h1 {
	font-size: 2em;
	line-height: 3em;
	text-align:center;
}

h2 {
    font-size: 1.3em;
    font-weight: 200;
    margin-bottom: 0;
}

button.btn-primary {
    background-color: #26AA8C;
    border-color: #26ae90;
}

button.btn-primary:hover, button.btn-primary:active, button.btn-primary:focus {
    background-color: #1D997D;
    border-color: #26ae90;
}

.no-gutter {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

main > .row-eq-height > .col-md-3{
    background-color: #243648;
    min-height: 100vh;
}

.form-control:focus, a:focus,button:focus {
    border-color: #1D997D;
}

/*------------------------------*/


/*--------  LOGIN  --------*/

.login__bg {
    background-color: #274b5e;
}

.login__container {
	background-color: #274b5e;
    border: 1px solid #264558;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin-top: 100px;
}

.login__container-inputs {
    padding: 35px 35px 15px;
}

.login__container-btns {
	background-color: #359684;
    padding: 28px 0px;
}

.login__container-btns button .fa {
    padding: 0px 15px;
}

.login__container .form-control {
	margin-bottom: 25px;
}

/*---------------  BACKEND  --------------------*/



/*--------  HEADER  ----------*/

.side__header {
    background-color: #243648;
    height: 54px;
}

/*----------  NAVIGATION  -----------*/

.nav__container {
    padding: 0.2rem;
    line-height: 3rem;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.nav-title {
    padding-left: 1.5rem;
    font-weight: 200;
}

.nav-title a, .nav-title a:hover {
    color: #000000;
    text-decoration: none;
}

.nav-time {
    text-align: center;
}

.nav-mail__wrap {
    text-align: center;
}

.nav-mail__wrap .fa-envelope {
    color: #000000;
}

.nav-mail__wrap a {
    position: relative;
}

.tag-notifications {
    background:#f18f01;
    position:absolute;
    top: -0.5rem;
    left: 0.8rem;
    font-size: 0.7rem;
}

button.logout__btn {
    background-color: unset;
}

/*--------------------*/

/*---------  SIDE-MENU  -----------*/
.side {
    background-color: #243648;
    color: #A6B2C5;
}

.side__menu {
    background-color: #2F3F52;
    color: #A6B2C5;
}

.image-user {
    max-width: 100px;
    margin: 0px 10px 54px 32px;
    float:left;
    transition: all 0.5s linear;
}


.image__container {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
.user-title{
    display: block;
    margin: 30px 0 0 0;
}

.btn-toogle {
    background-color: #243648;
    position: absolute;
    top: 54px;
    left: 0px;
    padding: 2px 6px;
    border-radius: 0px 5px 5px 0px;
    z-index: 111;
}

.btn-toogle .fa {
    background-color: #243648;
    color: #A6B2C5
}

.side-module__container {
    /*background-color: #243648;*/
    /*color: #A6B2C5;*/
    /*display: inline-block;*/
    /*width: 100%;*/
    padding-left: 2.5rem;
    line-height: 3rem;
}

.side-module__container .fa {
    padding-right: 2rem;
}

.list-group-item {
    border: none;
}

.list-group-item:first-child {
    border-radius: unset;
}

.list-group-item-action:hover, .list-group-item-action:active, .list-group-item-action:focus, .list-group-item-action[aria-expanded="true"] {
    color: #A6B2C5;
    background-color: #243648;
    box-shadow: inset 5px 0 0 #26AA8C;
}
.list-group-item-action + div .list-group-item-action{
    background-color: #243648;
    padding-left: 5.3rem;
    box-shadow: inset 5px 0 0 #1E2B3A;
}
.list-group-item-action + div .list-group-item-action:hover{
    box-shadow: inset 5px 0 0 #26AA8C;
}
.list-group-item:last-child{
    border-radius:0;
}

/* ----- MAIN --- */

.white__bg {
    background-color: #FFFFFF;
    margin: 2rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.dark__bg {
    background-color: #243648;
    color: #A6B2C5;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    padding: 0.6rem;
    border-radius: 0.3rem 0.3rem 0 0;
    margin-bottom: 0.5rem;
}

/** -------- TABLES -----**/

main .container__wrap{
    background:#FFF;
    margin: 1rem 2rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
main .container__wrap .heading {
    background: #243648;
}
main .container__wrap h1{
    background-color: #243648;
    color: #A6B2C5;
    line-height:2.5;
    text-align: left;
    margin-bottom: 0rem;
    font-size: 1.6rem;
    padding-left: 1.5rem;
}

main .container__wrap .heading button {
    margin:10px;
}

main table thead{

}
main table tbody tr{

}

main .container__wrap .table__bottom {
    background-color: #1D997D;
}

/* Mini Style */
body main > div > div{
    transition: width 0.5s linear;
}
body.mini main > div > .col-md-9 {
    width: 94%;
}
body.mini main > div > .col-md-3{
    width: 6%;
}
body.mini #sidebarToggle i {
    transform: rotate(180deg);
}
body.mini .image__container .user-title, body.mini .image__container .user-role{
    display:none;
}
body.mini .image__container .image-user{
    margin:0 0 54px 10%;
    max-width: 80%;
    width: auto;
    transition: all 0.5s linear;
}
body.mini .list-group-item-action{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
body .list-group-item-action{
    white-space: nowrap;
    overflow: hidden;
}
body.mini .list-group-item-action i{
    padding-right: 0;
}
body.mini .list-group-item-action span {
    display: none;
}

/* RESERVATION */
.reservation__box {
    background:#fff;
    padding:20px;
    margin:5px;
    border-radius:10px;
    box-shadow:5px 5px 5px 0px grey;
}

.reservation__box label {
    font-size:1.5rem;
}

.reservation__success {
    font-size:2rem;
    padding:5px;
    border-radius:5px;
}

/* Form Style */

.addMenuItem .form-group {
    margin-bottom: -0.5rem;
}

.addMenuItem input:focus, .addMenuItem textarea:focus, .addMenuItem select:focus {
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}