/* CSS RESET */


/*BASE*/

body {
	background-color:lightgrey;
    font-family:  Helvetica, Arial, sans-serif;
}


h1 {
	font-size: 3em;
	line-height: 3.2em;
	text-align:center;
}

button.btn-primary {
    background-color: #26AA8C;
    border-color: #26ae90;
}

button.btn-primary:hover, button.btn-primary:active, button.btn-primary:focus {
    background-color: #1D997D;
    border-color: #26ae90;
}

/*------------------------------*/


/*LOGIN*/

.login__bg {
    background-color: #274b5e;
}

.login__container {
	background-color: #274b5e;
    border: 1px solid #264558;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin-top: 100px;
}

.login__container-inputs {
    padding: 35px 35px 15px;
}

.login__container-btns {
	background-color: #359684;
    padding: 28px 0px;
}

.login__container-btns button .fa {
    padding: 0px 15px;
}

.login__container .form-control {
	margin-bottom: 25px;
}

/*-----------------------------------*/

/*NAVIGATION*/

/*.navigation-left {*/
    /*background-color: #243648;*/
    /*color:white;*/
    /*font-size:2rem;*/
    /*left:0;*/
    /*line-height:2rem;*/
    /*position:fixed;*/
    /*top:0;*/
    /*transition:left 1s;*/
    /*-webkit-transition:left 1s;*/
    /*width:400px;*/
/*}*/

/*.navigation-left .hide {*/
    /*background-color: #243648;*/
    /*border-radius:0px 5px 5px 0px;*/
    /*cursor:pointer;*/
    /*left:400px;*/
    /*padding:5px;*/
    /*position:relative;*/
    /*top:80px;*/
    /*width:40px;*/
/*}*/

/*.navigation-left img {*/
    /*height:100px;*/
/*}*/

/*.navigation-left .row {*/
    /*border-left:10px solid #243648;*/
    /*padding:10px 10px;*/
/*}*/

/*.navigation-left .row:hover {*/
    /*background:#2f3f52;*/
/*}*/

/*.navigation-left .active {*/
    /*border-left:10px solid #28b395;*/
/*}*/

/*.navigation-left .col-xs-3{*/
    /*text-align:center;*/
/*}*/

/*.navigation-left a {*/
    /*color:white;*/
/*}*/


/* top navigation ---------------------------------------------------------------------------------------------------- */
/*.navigation-top {*/
    /*background:white;*/
    /*box-shadow: 0 0 20px rgba(0,0,0,0.2);*/
    /*font-size:2rem;*/
    /*left:400px;*/
    /*line-height:2.5rem;*/
    /*padding:12px 10px 0px 30px;*/
    /*position:fixed;*/
    /*right:0px;*/
    /*top:0px;*/
    /*transition:left 1s;*/
/*}*/


/*BACKEND*/

/*BASE*/

.no-gutter {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/*HEADER*/

.side__header {
    background-color: #243648;
    height: 54px;
}

nav button.logout__btn {
    background-color: unset;
}

/*--------------------*/

/*SIDE-MENU*/

.side {
    background-color: #243648;
    color: #A6B2C5;
}

.side__menu {
    background-color: #2F3F52;
    color: #A6B2C5;
    width: 100%;
}

.image-user {
    width: 100px;
    margin: 0px 0px 54px 32px;
}

.image__container {
    width: 100%;
    display: inline-block;
}

.btn-toogle__position {
    position: relative;
}

.btn-toogle {
    background-color: #243648;
    position: absolute;
    top: 54px;
    left: 0px;
    padding: 2px 6px;
    border-radius: 0px 5px 5px 0px;
}

.btn-toogle .fa {
    background-color: #243648;
    color: #A6B2C5
}

/*.user-title {*/

/*}*/

.side-module__container {
    /*background-color: #243648;*/
    /*color: #A6B2C5;*/
    display: inline-block;
    width: 100%;
    padding-left: 2.5rem;
    line-height: 4rem;
}

.side-module__container .fa {
    padding-right: 1.5rem;
}

/* ----- MAIN --- */



/** -------- TABLES -----**/

main .container__wrap{
    background:#FFF;
    margin: 30px;
}
main .container__wrap h1{
    background-color: #243648;
    color: #A6B2C5;
    line-height:2;
    text-align: left;
    margin-bottom: 0rem;
    font-size: 2rem;
}
main table thead{

}
main table tbody tr{

}