<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Navigation</title>
</head>
<body>
    <div th:fragment="navigation-left" class="navigation-left text-xs-center">
        <div class="hide" onclick="change();"><span
                class="fa fa-caret-square-o-left"></span></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4">
                    <img src="../resources/img/pika.jpg" class="rounded-circle"/>
                </div>
                <div class="col-xs-8">
                    <p><b>USERNAME</b><br/>Admin</p>
                </div>
            </div>
            <div class="row active">
                <div class="col-xs-3">
                    <span class="fa fa-table"></span>
                </div>
                <div class="col-xs-9">
                    <p>Dashboard</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <span class="fa fa-eur"></span>
                </div>
                <div class="col-xs-9">
                    <p>Abrechnung</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <span class="fa fa-cutlery"></span>
                </div>
                <div class="col-xs-9">
                    <p>Tageskarte</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <span class="fa fa-clock-o"></span>
                </div>
                <div class="col-xs-9">
                    <p>Reservierung</p>
                </div>
            </div>

        </div>
    </div>
    <nav th:fragment="navigation-top">
        <ul class="nav nav-inline" style="font-size:2rem;line-height:2rem;">
            <li class="nav-item">
                WeinStube
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{#}"><span class="fa fa-user"></span> Mitarbeiter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{#}"><span class="fa fa-envelope"></span> </a>
            </li>
            <li class="nav-item">
                10:06
            </li>

        </ul>

    </nav>

</body>
</html>