<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Navigation</title>
</head>
<body>

<!-- left navigation -->
    <div th:fragment="navigation-left" class="navigation-left text-xs-center">
        <div class="hide" onclick="change();"><span
                class="fa fa-caret-square-o-left"></span></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4">
                    <img src="../resources/img/pika.jpg" class="rounded-circle"/>
                </div>
                <div class="col-xs-8" sec:authorize="isAuthenticated()" th:if="${accountcredentials}">
                    <p th:text="${accountcredentials.username}"><b>USERNAME</b><br/>ROLE</p>
                </div>
            </div>
            <div class="row active">
                <a th:href="@{/}">
                    <div class="col-xs-3">
                        <span class="fa fa-table"></span>
                    </div>
                    <div class="col-xs-9">
                        <p>Dashboard</p>
                    </div>
                </a>
            </div>
            <div class="row">
                <a th:href="@{/users}">
                    <div class="col-xs-3">
                        <span class="fa fa-user"></span>
                    </div>
                    <div class="col-xs-9">
                        <p>Mitarbeiter</p>
                    </div>
                </a>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <span class="fa fa-eur"></span>
                </div>
                <div class="col-xs-9">
                    <p>Abrechnung</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <span class="fa fa-cutlery"></span>
                </div>
                <div class="col-xs-9">
                    <p>Tageskarte</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <span class="fa fa-clock-o"></span>
                </div>
                <div class="col-xs-9">
                    <p>Reservierung</p>
                </div>
            </div>
        </div>
    </div>

    <!-- top navigation -->
    <div th:fragment="navigation-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3">
                    <p>Weinstube</p>
                </div>
                <div class="col-xs-6">
                    <p>10:06</p>
                </div>
                <div class="col-xs-3">
                    <a th:href="@{/logout}"  sec:authorize="isAuthenticated()">
                        <button type="button" class="btn btn-primary">
                            Logout&nbsp; <span class="fa fa-sign-out"></span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>


</body>
</html>