<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Navigation</title>
</head>
<body>
    <nav th:fragment="navigation-left">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{#}" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{#}" href="#">Reservierungen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{#}" href="#">Karte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{#}" href="#">Abrechnung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{#}" href="#">Lager</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{#}" href="#">Settings</a>
            </li>
        </ul>
    </nav>
    <nav th:fragment="navigation-top">
        <ul class="nav nav-inline" style="font-size:2rem;line-height:2rem;">
            <li class="nav-item">
                WeinStube
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{#}"><span class="fa fa-user"></span> Mitarbeiter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{#}"><span class="fa fa-envelope"></span> </a>
            </li>
            <li class="nav-item">
                10:06
            </li>

        </ul>

    </nav>
</body>
</html>