/* CSS RESET */

body {
	background-color:lightgrey;
    font: 13px/22px Helvetica, Arial, sans-serif;
    padding:10px;
    padding-left:430px;
    padding-top:100px;
    transition: padding 1s;
}

.login__bg {
    background-color: #274b5e;
}


h1 {
	font-size: 3em;
	line-height: 3.2em;
	text-align:center;
}

button.btn-primary {
    background-color: #26AA8C;
    border-color: #26ae90;
    /*width:100px;*/
}

button.btn-primary:hover, button.btn-primary:active, button.btn-primary:focus {
    background-color: #1D997D;
    border-color: #26ae90;
}

.login__container {
	background-color: #274b5e;
    border: 1px solid #264558;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin-top: 100px;
}

.login__container-inputs {
    padding: 35px 35px 15px;
}

.login__container-btns {
	background-color: #359684;
    padding: 28px 0px;
}

.login__container-btns button .fa {
    padding: 0px 15px;
}

.login__container .form-control {
	margin-bottom: 25px;
}
/* left navigation --------------------------------------------------------------------------------------------------- */
.navigation-left {
    background-color: #243648;
    color:white;
    font-size:2rem;
    left:0;
    line-height:2rem;
    position:absolute;
    top:0;
    transition:left 1s;
    -webkit-transition:left 1s;
    width:400px;
}

.navigation-left .hide {
    background-color: #243648;
    border-radius:0px 5px 5px 0px;
    cursor:pointer;
    left:400px;
    padding:5px;
    position:relative;
    top:80px;
    width:40px;
}

.navigation-left img {
    height:100px;
}

.navigation-left .row {
    border-left:10px solid #243648;
    padding:10px 10px;
}

.navigation-left .row:hover {
    background:#2f3f52;
}

.navigation-left .active {
    border-left:10px solid #28b395;
}

.navigation-left .col-xs-3{
    text-align:center;
}

.navigation-left a {
    color:white;
}
/* top navigation ---------------------------------------------------------------------------------------------------- */
.navigation-top {
    background:white;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    font-size:2rem;
    left:400px;
    line-height:2.5rem;
    padding:12px 10px 0px 30px;
    position:fixed;
    right:0px;
    top:0px;
    transition:left 1s;
}
.navigation-top {

}

.card-columns {
    margin:0px;
    position:relative;
}

.card-columns .card {
    padding:10px;
    text-align: center;
}
/*.card-columns .card {
    left: 30rem;
    position: absolute;
    top:6rem;
    width: auto;
}*/