<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:include="backend-temp :: page">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <h1>Speise zur Karte hinzufügen: </h1>
    <form th:acction="@{/admin/addMenuItem}" th:object="${menuitem}" method="post">

            <h2>Schritt 1: Produkt auswählen</h2>
            <select th:field="*{product}" >
                <option th:each="product : ${products}" th:value="${product.getId()}" th:text="${product.name}">
                </option>
            </select>

            <h2>Schritt 2: Details angeben</h2>
            <p>Name: </p><input type="text" th:field="*{name}" />
            <p>Preis: </p><input type="text" th:field="*{price}"/>
            <p>Beschreibung: </p><input type="text" th:field="*{description}" />

        <button>Hau rein</button>
        <input type="hidden" th:field="*{dayMenu}" th:value="${menuitem.dayMenu}"/>
    </form>
    </div>
</body>
</html>