<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:include="backend-temp :: page">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body th:fragment="content">
<div class="addMenu">
    <div class="row">
        <div class="col-xs-12">
            <div class="white__bg">
                <h1>Speisekarte erstellen </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 offset-xs-3">
        <form th:action="@{/admin/menu/add}" method="post">
                <div class="form-group row">
                    <label class="col-xs-2 col-form-label">Datum:</label>
                    <div class="col-xs-10 no-gutter">
                        <input class="form-control" type="text" id="date" name="date"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7 offset-xs-3 text-xs-center">
                        <button type="submit" class="button btn btn-primary">Anlegen</button>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>


<script th:inline="javascript">
    /*<![CDATA[*/


    // add calendar plugin to date input
    var firstDayOfYear = new Date(businessTime);
    firstDayOfYear.setMonth(0);
    firstDayOfYear.setDate(1);
    $('input[name="date"]').daterangepicker({
        startDate:new Date(businessTime.getTime() + (24*60*60*1000)),
        singleDatePicker:true,
        linkedCalendars:false,
        showISOWeekNumbers:true,
        opens:"right",
        buttonClasses:"btn",
        applyClass:"btn-primary",
        locale: {
            format:"DD.MM.YYYY",
            applyLabel:"&#10004;",
            cancelLabel:"&#128473;",
            customRangeLabel:"Benutzerdefiniert",
            daysOfWeek:["So","Mo","Di","Mi","Do","Fr","Sa"],
            monthNames:["Januar","Februar","März","April","Mai","Juni","Juli","August","September","Oktober","November","Dezember"],
            firstDay:1
        },
    });

    /*]]>*/
</script>

</body>
</html>