<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="links::links">

    <title>Lager</title>

</head>
<body>

<main class="main container-fluid">
    <div class="row">

        <div class="col-md-3" th:include="side::side">

        </div>
        <!--MAIN CONTENT-->

        <div class="col-md-9 no-gutter">
            <div th:include="navigation::navigation" ></div>

            <div class="container">
                <div class="container__wrap">
                    <div class="container-fluid heading" style="border:1px solid black;">
                        <div class="row">
                            <div class="col-xs-6">
                                <h1><span class="fa fa-clock-o fa-lg"></span> Reservierungen (<span th:text="${reservationAmount}"></span>)</h1>
                            </div>
                            <div class="col-xs-6 text-xs-right">
                                <a th:href="@{/reservation}">
                                    <button class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Reservierung
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped text-xs-center">
                        <thead>
                        <tr>

                            <th class="text-xs-center"><a th:href="@{'/allReservations?sort=date'}">Datum</a></th>
                            <th class="text-xs-center"><a th:href="@{'/allReservations?sort=date'}">Uhrzeit</a></th>
                            <th class="text-xs-center"><a th:href="@{'/allReservations?sort=name'}">Name</a></th>
                            <th class="text-xs-center"><a th:href="@{'/allReservations?sort=persons'}">Personenzahl</a></th>
                            <th class="text-xs-center"><a th:href="@{'/allReservations?sort=table'}">Tisch</a></th>
                            <th class="text-xs-center">&Auml;ndern</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="reservation : ${reservationList}">
                            <td th:text="${reservation.interval.start.toLocalDate()}"></td>
                            <td th:text="${reservation.interval.start.toLocalTime()}"></td>
                            <td th:text="${reservation.guestName}"></td>
                            <td th:text="${reservation.persons}"></td>
                            <td th:text="${reservation.table.number} + ' (' + ${reservation.table.capacity} + ' Pers.)'"></td>
                            <td>
                                <a th:href="@{'#'}">
                                    <button type="button"  class="btn btn-primary">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>


<script>
    $('#productDetails').modal('show');
</script>

</body>
</html>