<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="page">
<head th:include="links::links">

    <title>Backend</title>

</head>
<body>
    <main  class="main container-fluid">
        <div class="row row-eq-height">
            <div class="col-md-3" th:include="side::side"></div>

            <!--MAIN-CONTENT-->


            <div class="col-md-9 no-gutter">

                <!--NAVIGATION-->

                <div th:include="navigation::navigation">
                </div>

                <a href="#" class="btn-toogle" id="sidebarToggle">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>

                <div class="container">
                    <div class="row">
                        <div class="col-xs-12" th:include="this :: content"></div>
                    </div>
                </div>
            </div>


        </div>
    </main>



    <footer>

    </footer>
</body>
</html>