<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="backend-temp :: page">
<head>

</head>
<body th:fragment="content" class="bills">
<div class="bill__tabs">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/service/bills}"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active">Rechnung #<span th:text="${bill.id}"></span></a>
        </li>
    </ul>
</div>
<div class="container__wrap">
    <div class="heading">
        <div class="row">
            <div class="col-xs-4">
                <h1>Rechnung (<span th:text="${bill.price.number + '€'}"></span>)</h1>
            </div>
            <div class="col-xs-4">
                Tisch <span th:text="${bill.desk}"></span><br/>
                <span th:text="${bill.staff.userAccount.firstname}"></span>
                <span th:text="${bill.staff.userAccount.lastname}"></span>
            </div>
            <div class="col-xs-4 text-xs-right">
                <a th:href="@{'/service/bills/details/' + ${bill.id} + '/split'}">
                    <button class="btn btn-primary">Aufteilen</button>
                </a>
                <a th:href="@{'/service/bills/details/' + ${bill.id} + '/print'}" target="_blank">
                    <button class="btn btn-primary">Drucken</button>
                </a>
            </div>
        </div>
    </div>
    <table class="table table-striped text-xs-center hidespinner" style="table-layout:fixed;">
        <thead>
            <tr>
                <th class="text-xs-center">Produkt</th>
                <th class="text-xs-center">Anzahl</th>
                <th class="text-xs-center">Nachbestellung</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${bill.items}" style="vertical-align:middle;">
                <td><span th:utext="${product.item.name} + ' (' + ${product.item.price.number} + '€)'"></span></td>
                <td>
                    <div style="font-size:1.8rem;">
                        <b><span th:text="${product.quantity}" class="product-quantity"></span></b>
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" onclick="down(this)">
                                <i class="fa fa-minus fa-lg"></i>
                            </button>
                        </span>
                        <input type="number" th:id="${product.id}" value="0" size="2" th:min="'-' + ${product.quantity}"
                               max="99" class="form-control text-xs-center" readonly="true"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" onclick="up(this)">
                                <i class="fa fa-plus fa-lg"></i>
                            </button>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <a onclick="save()">
                        <button type="button" class="btn btn-primary" style="visibility:hidden;"
                                                     id="submitbutton">
                            Kaufen
                        </button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br/>
<div class="container__wrap">
    <h1>+ Produkte</h1>
    <div class="card-columns card__daymenuitems">

        <div class="card" th:each="product:${menuitems}">
            <a th:href="@{'/service/bills/details/' + ${bill.id} + '/add/' + ${product.id}}">
                <div class="card-block">
                    <h3 class="card-title" th:text="${product.name}">Name</h3>
                    <p class="card-text" th:text="${product.price}">Preis</p>
                </div>
            </a>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/

    function down(node){
        var input = node.parentNode.parentNode.getElementsByTagName('input')[0];
        if(parseInt(input.value) > parseInt(input.min)) {
            input.value = parseInt(input.value) - 1;
            document.getElementById("submitbutton").style.visibility = "visible";
        }
    }

    function up(node){
        var input = node.parentNode.parentNode.getElementsByTagName('input')[0];
        input.value = parseInt(input.value) + 1;
        document.getElementById("submitbutton").style.visibility = "visible";
    }

    function save(){
        var inputs = document.getElementsByTagName("input");
        var quantities = document.getElementsByClassName("product-quantity");
        var query = "?save=";
        for(i = 0; i < inputs.length; i++){
            query += inputs[i].id + "," + (parseInt(inputs[i].value) + parseInt(quantities[i].innerHTML)) + "|";
        }
        window.location = location.pathname + query;
    }

    function remove(productid){
        window.location = location.pathname + '/remove/' + productid;
    }

    /*]]>*/
</script>
</body>
</html>