<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="backend-temp :: page">
<head th:include="links::links">

    <title>Events</title>

</head>
<body th:fragment="content">
<div class="container__wrap">
    <div id="calendar"></div>
</div>


<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js}"></script>
<script th:src="@{http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/locale/de.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.print.css}"/>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function(){
        $("#calendar").fullCalendar({
            locale:"de",
            eventSources: [
                {
                    events: [
                        {
                            title: 'test',
                            start: '2016-12-08',
                            allDay: true
                        },
                        {
                            title: 'test2',
                            start: '2016-12-02',
                            end: '2016-12-06'
                        },
                        {
                            title: 'event',
                            start: '2016-12-10T12:30:00',
                            allDay: false
                        }
                    ],
                    backgroundColor: 'green',
                    borderColor:'red'
                }
            ]
        });
    });
    /*]]>*/
</script>
</body>
</html>