<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="backend-temp :: page">
<head th:include="links::links">

    <title>Events</title>

</head>
<body th:fragment="content">
<div class="container__wrap">
    <div class="heading">
         <h1>&nbsp;<span class="fa fa-calendar"></span> Druckvorlage</h1>
    </div>
    <embed src="/resources/daymenu/daymenu.pdf" type="application/pdf" width="100%" height="700px">

    </embed>
</div>


<script th:inline="javascript">
    /*<![CDATA[*/


    /*]]>*/
</script>

</body>
</html>