<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
th:include="backend-temp :: page">
<head>

    <title>Title</title>
</head>
<body th:fragment="content">
<div class="row">
    <div class="col-xs-12">
        <div class="white__bg p">
            <p>Edit von Daymenü Nr: <span th:text="${daymenu.id}"></span></p>
        </div>
    </div>
</div>

<div class="container__wrap">
    <div class="heading">
        <div class="row">
            <div class="col-xs-6">
                <h1>
                    <i class="fa fa-map" aria-hidden="true"></i>
                    MenuItems
                </h1>
            </div>
            <div class="col-xs-6 text-xs-right">
                <a th:href="${'/admin/addMenuItem?frommenuitemid='+frommenuitemid}">
                    <button type="button" class="btn btn-primary ">
                        <i class="fa fa-plus fa-fw"></i>
                        Produkt
                    </button>
                </a>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Produkt</th>
            <th>Preis</th>
            <th>Menge</th>
            <th>Bearbeiten</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${daymenu.dayMenuItems}">
            <th scope="row">-</th>
            <td th:text="${item.name}"></td>
            <td></td>
            <td></td>
            <td>
                <button type="button"  class="btn btn-primary">
                    <i class="fa fa-cog fa-fw fa-spin" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>