<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
th:include="backend-temp :: page">
<head>

    <title>Title</title>
</head>
<body th:fragment="content">
<div class="container__wrap">
    <div class="heading">
        <div class="row">
            <div class="col-xs-9">
                <h1>
                    <i class="fa fa-map" aria-hidden="true"></i>
                    MenuItems -
                    Tageskarte vom
                    <span th:text="${helper.localDateTimeToDateString(daymenu.day.atStartOfDay())}"></span>
                </h1>
            </div>
            <div class="col-xs-3 text-xs-right">
                <a th:href="${'/admin/menuitem/add?frommenuitemid='+frommenuitemid}">
                    <button type="button" class="btn btn-primary ">
                        <i class="fa fa-plus fa-fw"></i>
                        Produkt
                    </button>
                </a>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Produkt</th>
            <th>Preis</th>
            <th>Menge auf Lager</th>
            <th>Bearbeiten</th>
            <th>Löschen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${daymenu.dayMenuItems}">
            <td th:text="${item.name}"></td>
            <td th:text="${helper.moneyToEuroString(item.price)}"></td>
            <td th:text="${(stock.findByProduct(item.product).get().quantity.getAmount() * item.quantityPerProduct).intValue()}"></td>
            <td>
                <button type="submit" th:name="daymenuitem" th:value="${item.id}"  class="btn btn-primary editBtn">
                    <i class="fa fa-cog fa-fw fa-spin" aria-hidden="true"></i>
                </button>
            </td>
            <td>
                <button type="submit" th:name="daymenuitem" th:value="${item.id}"  class="btn btn-danger deleteBtn">
                    <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script type="application/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var daymenuid = [[${daymenu.id}]];
    /*]]>*/
    $(document).ready(function () {
        $(".editBtn").click(function (event) {
            window.location.href = "/admin/menuitem/edit/"+daymenuid+"/"+$(this).attr('value');
        });
        $(".deleteBtn").click(function (event) {
            window.location.href = "/admin/menuitem/remove/"+daymenuid+"/"+$(this).attr('value');
        });
    });
</script>
</body>
</html>