<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="backend-temp :: page">
<head th:include="links::links">

    <title>Events</title>

</head>

<body th:fragment="content">
<div class="bill__tabs">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#open" role="tab">Offen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#covered" role="tab">Bezahlt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/accountancy/expenses/payoff}">Tagesabrechnung</a>
        </li>
    </ul>
</div>
<div class="container__wrap">
    <div class="tab-content">
        <div class="tab-pane active" id="open" role="tabpanel">
            <div class="container__head">
                <h1>&nbsp;<span class="fa fa-calendar"></span> Ausgaben, ungedeckt (<span
                        th:text="${expenseAmount}"></span>
                    Einträge)</h1>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td colspan="6">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="type"><b>Typ:</b></label>
                                    <select id="type" name="type" class="form-control">
                                        <option value="0">Alle</option>
                                        <option th:each="group:${groups}" th:selected="${group.id == selectedType}" th:text="${group.name}" th:value="${group.id}"></option>
                                    </select>
                                </div>
                                &nbsp;
                                <div class="form-group">
                                    <label for="person"><b>Person:</b></label>
                                    <select id="person" name="person" class="form-control">
                                        <option value="0">Alle</option>
                                        <option th:each="person:${persons}" th:selected="${person.id == selectedPerson}" th:text="${person}" th:value="${person.id}">test
                                        </option>
                                    </select>
                                </div>
                                &nbsp;
                                <div class="form-group">
                                    <label for="date"><b>Datum:</b></label>
                                    <input th:value="${selectedDate}" type="text" id="date" name="date" class="form-control"/>
                                </div>
                                &nbsp;
                                <button class="btn btn-primary">Neu laden</button>
                                &nbsp;
                                <button type="button" class="btn btn-primary" onclick="cover();" id="coverbtn"
                                        style="display:none">
                                    Abrechnen
                                </button>
                            </form>
                        </td>
                    </tr>
                </thead>
                <thead>
                <tr>
                    <th>Typ</th>
                    <th>Person</th>
                    <th>Datum</th>
                    <th>Beschreibung</th>
                    <th>Betrag</th>
                    <th><input type="checkbox" class="checkbox__huge" id="checkall" onclick="checkall();"/></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="expense : ${expOpen}">
                    <td th:text="${expense.expenseGroup.name}"></td>
                    <td th:text="${expense.person}"></td>
                    <td th:text="${expense.dateString}"></td>
                    <td th:text="${expense.description}" class="expense-desc"></td>
                    <td th:text="${expense.value.number} + '€'" class="expense-price"></td>
                    <td><input type="checkbox" class="checkbox__huge" name="singlecheckbox" th:value="${expense.id}"
                               onclick="check();"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="covered" role="tabpanel">
            <div class="container__head">
                <h1>&nbsp;<span class="fa fa-calendar"></span> Ausgaben, gedeckt</h1>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td colspan="6">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="oldtype"><b>Typ:</b></label>
                                    <select id="oldtype" name="type" class="form-control">
                                        <option value="0">Alle</option>
                                        <option th:each="group:${groups}" th:selected="${group.id == selectedType}" th:text="${group.name}" th:value="${group.id}"></option>
                                    </select>
                                </div>
                                &nbsp;
                                <div class="form-group">
                                    <label for="oldperson"><b>Person:</b></label>
                                    <select id="oldperson" name="person" class="form-control">
                                        <option value="0">Alle</option>
                                        <option th:each="person:${persons}" th:selected="${person.id == selectedPerson}" th:text="${person}" th:value="${person.id}">test
                                        </option>
                                    </select>
                                </div>
                                &nbsp;
                                <div class="form-group">
                                    <label for="olddate"><b>Datum:</b></label>
                                    <input th:value="${selectedDate}" type="text" id="olddate" name="date"
                                           class="form-control"/>
                                </div>
                                <input type="hidden" name="tab" value="covered"/>
                                &nbsp;
                                <button class="btn btn-primary">Neu laden</button>
                            </form>
                        </td>
                    </tr>
                </thead>
                <thead>
                <tr>
                    <th>Typ</th>
                    <th>Person</th>
                    <th>Datum</th>
                    <th>Beschreibung</th>
                    <th>Betrag</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="expense : ${expCovered}">
                    <td th:text="${expense.expenseGroup.name}"></td>
                    <td th:text="${expense.person}"></td>
                    <td th:text="${expense.dateString}"></td>
                    <td th:text="${expense.description}"></td>
                    <td th:text="${expense.value.number} + '€'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal" id="coverModal" tabindex="-1" role="dialog"
     aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Einzelabrechnung</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <th>Beschreibung</th>
                        <th>Preis</th>
                    </thead>
                    <tbody id="coverTable"></tbody>
                </table>
            </div>
            <form id="coverForm"><input type="hidden" name="cover" id="coverid"/></form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
                <button form="coverForm" class="btn btn-primary">Abrechnung</button>
            </div>
        </div>
    </div>

</div>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<script th:inline="javascript">
    /*<![CDATA[*/
    var firstDayOfYear = new Date(businessTime);
    firstDayOfYear.setMonth(0);
    firstDayOfYear.setDate(1);
    $('input[name="date"]').daterangepicker({
        linkedCalendars:false,
        showISOWeekNumbers:true,
        opens:"left",
        maxDate: businessTime,
        buttonClasses:"btn",
        applyClass:"btn-primary",
        autoApply:true,
        locale: {
            format:"DD.MM.YYYY",
            applyLabel:"&#10004;",
            cancelLabel:"&#128473;",
            customRangeLabel:"Benutzerdefiniert",
            daysOfWeek:["So","Mo","Di","Mi","Do","Fr","Sa"],
            monthNames:["Januar","Februar","März","April","Mai","Juni","Juli","August","September","Oktober","November","Dezember"],
            firstDay:1
        },
        ranges: {
            'Heute': [businessTime, businessTime],
            'Gestern': [new Date(businessTime.getTime() - 86400000), new Date(businessTime.getTime() - 86400000)],
            'Letzte 7 Tage': [new Date(businessTime.getTime() - 604800000), businessTime],
            'Dieser Monat': [new Date(businessTime).setDate(1), businessTime],
            'Dieses Jahr': [firstDayOfYear, businessTime]
        }
    });

    if(window.location.href.includes("covered")) {
        $('.nav-tabs a[href="#covered"').tab("show");
    }

    function check(){
        var inputs = new Array();

        $("input:checkbox[name=singlecheckbox]:checked").each(function(){
            inputs.push($(this).val());
        });

        if(inputs.length == 0){
            document.getElementById("coverbtn").style.display="none";
        } else {
            document.getElementById("coverbtn").style.display="inline";
        }
    }

    function checkall(){
        var checkbox = document.getElementById("checkall");
        if(!checkbox.checked){
            $("input:checkbox[name=singlecheckbox]").each(function(){
                $(this).prop("checked",false);
            });
        } else {
            $("input:checkbox[name=singlecheckbox]").each(function(){
                $(this).prop("checked",true);
            });
        }
        check();
    }

    function cover(){
        var ids = new Array();
        var inputs = new Array();
        $("input:checkbox[name=singlecheckbox]:checked").each(function(){
            inputs.push($(this).get(0));
            ids.push($(this).val());
        });

        document.getElementById("coverid").value=ids.join("|");



        var table = document.getElementById("coverTable");
        var total = 0;

        table.innerHTML = "";
        for(i=0;i<inputs.length;i++){
            var row = inputs[i].parentNode.parentNode;
            var desc = row.getElementsByClassName("expense-desc")[0].innerHTML;
            var price = row.getElementsByClassName("expense-price")[0].innerHTML;
            total += parseFloat(price.replace('€',''));
            table.innerHTML += "<tr><td>" + desc + "</td><td>" + price + "</td></tr>";
        }
        table.innerHTML += "<tr><td colspan='2' class='text-xs-center'><b>Gesamtpreis: " + total.toFixed(2) +
            "€</b></td>";
        $("#coverModal").modal("show");

        //window.location.href="/accountancy/expenses?cover=" + inputs.join("|");
    }
    /*]]>*/
</script>
</body>
</html>