<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="backend-temp :: page">
<head th:include="links::links">

    <title>Events</title>

</head>
<body th:fragment="content">
<div class="bill__tabs">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#today" role="tab">Heute</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#old" role="tab">Vergangenheit</a>
        </li>
    </ul>
</div>
<div class="container__wrap">
    <div class="tab-content">
        <div class="tab-pane active" id="today" role="tabpanel">
            <div class="container__head">
                <h1>&nbsp;<span class="fa fa-calendar"></span> Ausgaben heute (<span th:text="${expenseAmount}"></span>
                    Einträge)</h1>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Typ</th>
                    <th>Person</th>
                    <th>Datum</th>
                    <th>Beschreibung</th>
                    <th>Betrag</th>
                    <th>Gedeckt</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="expense : ${exptoday}">
                    <td th:text="${expense.expenseGroup.name}"></td>
                    <td th:text="${expense.person}"></td>
                    <td th:text="${expense.dateString}"></td>
                    <td th:text="${expense.description}"></td>
                    <td th:text="${expense.value.number} + '€'"></td>
                    <td th:text="${expense.isCovered()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="old" role="tabpanel">
            <div class="container__head">
                <h1>&nbsp;<span class="fa fa-calendar"></span> Ausgaben alt</h1>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Typ</th>
                    <th>Person</th>
                    <th>Datum</th>
                    <th>Beschreibung</th>
                    <th>Betrag</th>
                    <th>Gedeckt</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="expense : ${expold}">
                    <td th:text="${expense.expenseGroup.name}"></td>
                    <td th:text="${expense.person}"></td>
                    <td th:text="${expense.dateString}"></td>
                    <td th:text="${expense.description}"></td>
                    <td th:text="${expense.value.number} + '€'"></td>
                    <td th:text="${expense.isCovered()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>