<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="backend-temp :: page">
<head th:include="links::links">

    <title>Events</title>

</head>
<body th:fragment="content">
<div class="container__wrap">
    <div class="container__head">
        <h1>&nbsp;<span class="fa fa-calendar"></span> Ausgaben (<span th:text="${expenseAmount}"></span> Einträge)</h1>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Typ</th>
            <th>Person</th>
            <th>Datum</th>
            <th>Beschreibung</th>
            <th>Betrag</th>
            <th>Gedeckt</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="expense : ${expenses}">
            <td th:text="${expense.expenseGroup.name}"></td>
            <td th:text="${expense.person}"></td>
            <td th:text="${expense.dateString}"></td>
            <td th:text="${expense.description}"></td>
            <td th:text="${expense.value.number} + '€'"></td>
            <td th:text="${expense.isCovered()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>