<head th:fragment="links">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/jquery.datetimepicker.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    <script th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/resources/js/jquery-ui.js}"></script>
    <script th:src="@{/resources/js/jquery.datetimepicker.full.js}"></script>
    <script th:src="@{/resources/js/tether.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/script.js}"></script>

    <!-- DATERANGEPICKER -->
    <script th:src="@{/resources/js/moment.min.js}"></script>
    <script th:src="@{/resources/js/daterangepicker.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/js/daterangepicker.css}"/>

    <!-- FULL CALENDAR -->
    <script type="text/javascript" th:src="@{/resources/js/moment.min.js.1}"></script>
    <script th:src="@{/resources/js/fullcalendar.min.js}"></script>
    <script th:src="@{/resources/js/de.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/resources/js/fullcalendar.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/js/fullcalendar.print.css}" th:media="print"/>
</head>
