    <div class="col-md-12" th:fragment="navigation">
        <div class="nav__container bg-faded">
            <div class="row">
                <div class="col-xs-4">
                    <div class="nav-title">
                        <a th:href="@{/}">Zur fröhlichen Reblaus</a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="nav-time">
                        <span id="clock">
                            <script th:inline="javascript" type="application/javascript">
                                /*<![CDATA[*/
                                const bt = /*[[${businessTime}]]*/ "November 13, 2016 22:02:36";
                                const offset = new Date(bt) - new Date();
                                var businessTime = new Date(new Date().getTime() + offset);
                                clock();

                                function clock () {
                                    businessTime = new Date(new Date().getTime() + offset);
                                    var h = checkTime(businessTime.getHours());
                                    var m = checkTime(businessTime.getMinutes());
                                    var s = checkTime(businessTime.getSeconds());
                                    var date = checkTime(businessTime.getDate()) + "." + checkTime(businessTime.getMonth()+1) + "." + businessTime.getFullYear();
                                    document.getElementById("clock").innerHTML = date + " " + h + ":" + m + ":" + s;
                                    setTimeout(clock, 1000);
                                }

                                function checkTime(i) {
                                    if (i < 10) {i = "0" + i}  // add zero in front of numbers < 10
                                    return i;
                                }
                                /*]]>*/
                            </script>
                        </span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div>
                        <div class="nav-mail__wrap">
                            <a th:href="@{/notifications}">
                                <i class="fa fa-envelope fa-lg"></i>
                                <span class="tag tag-pill tag-notifications">4</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <a th:href="@{/logout}"  sec:authorize="isAuthenticated()">
                        <button type="button" class="logout__btn btn">
                            <span class="fa fa-sign-out"></span> Abmelden
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
