<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="backend-temp :: page">
<head th:include="links::links">

    <title>Tagesabrechnung</title>

</head>
<body th:fragment="content">
<div class="bill__tabs">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/accountancy/expenses'}">Offen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/accountancy/expenses?tab=covered'}">Bezahlt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active">Bezahlt</a>
        </li>
    </ul>
</div>
<div class="container__wrap">
    <div class="container__head">
        <h1>Tagesabrechnung</h1>
    </div>
</div>


</body>
</html>