<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="links::links">

    <title>Lager</title>

</head>
<body>

<main class="main container-fluid">
    <div class="row">

        <div class="col-md-3" th:include="side::side">

        </div>
        <!--MAIN CONTENT-->

        <div class="col-md-9 no-gutter">
            <div th:include="navigation::navigation" ></div>

            <div class="container" th:if="${success == null}">
                <form method="post">
                    <div class="row">
                        <div class="col-xs-12 reservation__box">

                                <div class="form-group">
                                    <label for="datetime">Datum:</label>
                                    <input type="text" name="datetime" id="datetime" class="form-control"
                                           th:if="${datetime != null}" th:value="${datetime}" readonly="true"/>
                                    <input type="text" name="datetime" id="datetime" class="form-control"
                                           th:if="${datetime == null}" />
                                </div>
                                <div class="form-group">
                                    <label for="persons">Personenzahl:</label>
                                    <input type="number" name="persons" id="persons" class="form-control" min="0"
                                           value="4" th:if="${persons != null}" th:value="${persons}" readonly="true"/>
                                    <input type="number" name="persons" id="persons" class="form-control" min="0"
                                           value="4" th:if="${persons == null}"/>
                                </div>
                                <button class="btn btn-primary btn-lg" name="check">Verfügbarkeit abfragen</button>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-xs-center">
                            <i class="fa fa-arrow-down fa-3x"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 reservation__box">
                            <div class="form-group" th:if="${tableMap} and not ${tableMap.isEmpty()}">

                                <label for="tableid">Auswahl:</label>
                                <select name="tableid" id="tableid" class="form-control">
                                    <option name="option" id="option" th:each="entry:${tableMap}" th:value="${entry.value.id}"
                                            th:text="'Tisch ' + ${entry.value.number} + ' , ' + ${entry.key} + ' min'">
                                        infos</option>
                                </select>
                            </div>
                            <span th:if="${tableMap}">
                                <div class="form-group" th:if="${tableMap.isEmpty()}">
                                    <h1 class="bg-danger">Keine freien Tische!</h1>
                                </div>
                            </span>
                            <br />
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" name="name" id="name" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <span th:if="${tableMap} and not ${tableMap.isEmpty()}">
                        <div class="row">
                            <div class="col-xs-12 text-xs-center">
                                <i class="fa fa-arrow-down fa-3x"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 reservation__box text-xs-center">
                                <button class="btn btn-primary btn-lg" name="submitdata">Bestätigen</button>
                            </div>
                        </div>
                    </span>
                </form>
            </div>
            <div class="container" th:if="${success != null}">
                <div class="row">
                    <div class="col-xs-12  reservation__box text-xs-center">
                        <h1 th:text="${success}">gespeichert</h1>
                        <p th:text="${userdata}">Infos</p>
                        <a th:href="@{/allReservations}">
                            <button class="btn btn-primary btn-lg" type="button">zurück
                                zur Übersicht
                            </button></a>
                    </div>
                </div>
            </div>
        </div>


    </div>

</main>
</body>
<link rel="stylesheet" type="text/css" href="/resources/css/jquery.datetimepicker.css"/>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/resources/js/jquery.datetimepicker.full.js"></script>
<script>
    $.datetimepicker.setLocale('de');
    $('#datetime').datetimepicker({
        dayOfWeekStart : 1,
        step:30,
        minDate:'-1970/01/02',
        startDate:'-1970/01/02'
    });
</script>
</html>