<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="backend-temp :: page">
<head th:include="links::links">

    <title>Schichten</title>

</head>
<body th:fragment="content">
<div class="container__wrap">
    <div class="heading">
        <div class="row">

            <div class="col-xs-8">
                <h1>&nbsp;<span class="fa fa-calendar"></span> Schichten</h1>
            </div>
            <div class="col-xs-4 text-xs-right">
                <a th:href="@{'/admin/management/shifts/add'}">
                    <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Schicht</button>
                </a>
            </div>
        </div>
    </div>

    <div id="calendar" class="calendar"></div>

</div>
<div class="modal fade" id="changeShift" tabindex="-1" role="dialog" aria-labelledby="shiftModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="shiftModalLabel">Schicht
                    <span th:if="${shiftdata}"> &auml;ndern</span>
                </h4>
            </div>
            <div class="modal-body">
                <form id="changeShiftForm" method="post"
                      th:action="${shiftdata}? ('/admin/management/shifts/change/' + ${shiftdata.id}) : ('/admin/management/shifts/add')">
                    <div class="form-group">
                        <label for="employee">Person:</label>
                        <select id="employee" name="employee" class="form-control" onchange="showperson(this.value);">
                            <option th:each="employee:${employees}"
                                    th:selected="${shiftdata}? (${employee.id} == ${shiftdata.employee.id}) : (false)"
                                    th:text="${employee}" th:value="${employee.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="date">Datum:</label>
                        <input type="text" id="date" name="date" class="form-control" required="true"
                               th:value="${shiftdata}? ${date} : ''"/>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6 text-xs-center">
                                <label for="start">Start:</label>
                                <select id="start" name="start" class="form-control" placeholder="Start" required="true">
                                    <option th:each="t:${time}" th:text="${t}"
                                            th:selected="${shiftdata}? (${t} == ${shiftdata.interval.start.toLocalTime().toString()}) : (${t} == '10:00')"></option>
                                </select>
                            </div>
                            <div class="col-xs-6 text-xs-center">
                                <label for="end">Ende:</label>
                                <select id="end" name="end" class="form-control" placeholder="Ende" required="true">
                                    <option th:each="t:${time}" th:text="${t}"
                                            th:selected="${shiftdata}? (${t} == ${shiftdata.interval.end.toLocalTime().toString()}) : (${t} == '18:00')"></option>
                                </select>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6 text-xs-left">
                        <a th:if="${shiftdata}" th:href="@{'/admin/management/shifts/remove/' + ${shiftdata.id}}">
                            <button type="button" class="btn btn-outline-danger">
                                Löschen
                            </button>
                        </a>
                    </div>
                    <div class="col-xs-6 text-xs-right">
                        <button type="submit" form="changeShiftForm" class="btn btn-primary">Speichern</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">
    /*<![CDATA[*/
    // show change modal
    if(window.location.href.toString().includes("add") || window.location.href.toString().includes("change"))
        $("#changeShift").modal("show");

    // add calendar plugin to date input
    var firstDayOfYear = new Date(businessTime);
    firstDayOfYear.setMonth(0);
    firstDayOfYear.setDate(1);
    $('input[name="date"]').daterangepicker({
        singleDatePicker:true,
        linkedCalendars:false,
        showISOWeekNumbers:true,
        opens:"right",
        buttonClasses:"btn",
        applyClass:"btn-primary",
        locale: {
            format:"DD.MM.YYYY",
            applyLabel:"&#10004;",
            cancelLabel:"&#128473;",
            customRangeLabel:"Benutzerdefiniert",
            daysOfWeek:["So","Mo","Di","Mi","Do","Fr","Sa"],
            monthNames:["Januar","Februar","März","April","Mai","Juni","Juli","August","September","Oktober","November","Dezember"],
            firstDay:1
        },
    });


    // load calendar plugin
    var now = new Date(businessTime);
    var eventString = /*[[${calendarString}]]*/"";
    var input = JSON.parse(eventString);
    $(document).ready(function(){
        $("#calendar").fullCalendar({
            locale:"de",
            header: {
                left:'prev,next today',
                center:'title',
                right:'listWeek,agendaDay,agendaWeek,month'
            },
            defaultDate:now.getFullYear() + "-" + checkTime(now.getMonth()+1) + "-" + checkTime(now.getDate()),
            now:new Date(businessTime),
            businessHours: {dow:[0,2,3,4,5,6,7],start:'10:00',end:'24:00'},
            navLinks:true,
            weekNumbers:true,
            defaultView:window.localStorage.shiftView,
            allDaySlot:false,
            slotEventOverlap:true,
            buttonText: {
                listYear:'Jahr'
            },
            eventRender: function(event,element,view)
            {
                if(view.name === "listWeek"){
                    element.find('.fc-list-item-title').html("<b>" + event.description + "</b>");
                } else {
                    element.attr('title','<b>' + event.title + '</b><br/>' + event.description);
                    element.attr('data-toggle','tooltip');
                    element.attr('data-placement','top');
                    element.tooltip({html:true});
                    element.tooltip('show');
                }
            },
            eventSources: [
                {
                    events:input,
                    overlap:true,
                    backgroundColor:"#2F3F52",
                    borderColor:"#243648",
                    textColor:'white'
                }
            ]
        });
    });


    window.onbeforeunload = function(){
        localStorage.setItem("shiftView",$("#calendar").fullCalendar("getView").name);
    };

    /*]]>*/
</script>

</body>
</html>