    <!--ASIDE-->

    <div class="col-md-3" th:fragment="side">

            <!--HEADER-->

            <div class="row">
                <div class="col-md-12 no-gutter">
                    <div class="side__header">
                        test
                    </div>
                </div>
            </div>

            <!--IMAGE + TITLE-->

            <div class="row">
                <div class="col-md-12 no-gutter" sec:authorize="isAuthenticated()">
                    <div class="side btn-toogle__position">
                        <div class="image__container">
                            <img src="/resources/img/pokemon.jpg" class="image-user rounded-circle"/>
                            <span class="user-title" th:text="${#authentication.getName()}">USERNAME</span>
                            <div th:if="${!#authentication.getAuthorities().isEmpty()}">
                                <p th:text="${#authentication.getAuthorities()[0]}">ROLE</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DASHBOARD-->
            <div class="row">
                <div class="col-xs-12 no-gutter">
                    <a th:href="@{/}">
                        <div class="side__menu side-module__container">
                            <i class="fa fa-th fa-fw" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </div>
                    </a>
                </div>
            </div>

            <!-- KARTE -->

            <div class="row">
                <div class="col-xs-12 no-gutter">
                    <a th:href="@{/admin/daymenulist}">
                        <div class="side__menu side-module__container">
                            <i class="fa fa-cutlery fa-fw" aria-hidden="true"></i>
                            <span>Karte</span>
                        </div>
                    </a>
                </div>
            </div>

            <!-- RESERVIERUNG-->

            <div class="row">
                <div class="col-xs-12 no-gutter">
                    <a th:href="@{/reservation}">
                        <div class="side__menu side-module__container">
                            <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
                            <span>Reservierung</span>
                        </div>
                    </a>
                </div>
            </div>

            <!-- ABRECHNUNG -->

            <div class="row" sec:authorize="hasAnyRole('ROLE_ACCOUNTANT','ROLE_ADMIN')">
                <div class="col-xs-12 no-gutter">
                    <a th:href="@{/accountancy/accountancy}">
                        <div class="side__menu side-module__container">
                            <i class="fa fa-eur fa-fw" aria-hidden="true"></i>
                            <span>Tagesabrechnung</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row" sec:authorize="hasAnyRole('ROLE_SERVICE','ROLE_ADMIN')">
                <div class="col-xs-12 no-gutter">
                    <a th:href="@{/service/accountancy}">
                        <div class="side__menu side-module__container">
                            <i class="fa fa-eur fa-fw" aria-hidden="true"></i>
                            <span>Rechnungen</span>
                        </div>
                    </a>
                </div>
            </div>

            <!-- LAGER -->

            <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="col-xs-12 no-gutter">
                    <a  th:href="@{/admin/stock}">
                        <div class="side__menu side-module__container">
                            <i class="fa fa-list fa-fw" aria-hidden="true"></i>
                            <span>Lager</span>
                        </div>
                    </a>
                </div>
            </div>

            <!-- EVENTS -->

            <div class="row"  sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="col-xs-12 no-gutter">
                    <a th:href="@{/admin/events}">
                        <div class="side__menu side-module__container">
                            <i class="fa fa-bookmark fa-fw" aria-hidden="true"></i>
                            <span>Events</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row" sec:authorize="!hasRole('ROLE_ADMIN')">
                <div class="col-xs-12 no-gutter">
                    <a th:href="@{/events}">
                        <div class="side__menu side-module__container">
                            <i class="fa fa-bookmark fa-fw" aria-hidden="true"></i>
                            <span>Events</span>
                        </div>
                    </a>
                </div>
            </div>

            <!-- MANAGEMENT-->

            <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="col-xs-12 no-gutter">
                    <a th:href="@{/admin/management/users}">
                        <div class="side__menu side-module__container">
                            <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
                            <span>Management</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row" sec:authorize="!hasRole('ROLE_ADMIN')">
                <div class="col-xs-12 no-gutter">
                    <a th:href="@{/users}">
                        <div class="side__menu side-module__container">
                            <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
                            <span>Mitarbeiter</span>
                        </div>
                    </a>
                </div>
            </div>

            <!-- SETTINGS -->

            <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="col-xs-12 no-gutter">
                    <a th:href="@{/admin/settings}">
                        <div class="side__menu side-module__container">
                            <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
                            <span>Settings</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
