<!--ASIDE-->

<div class="col-md-3" th:fragment="side">

    <!--HEADER-->

    <div class="row">
        <div class="col-md-12 no-gutter">
            <div class="side__header">

            </div>
        </div>
    </div>

    <!--IMAGE + TITLE-->

    <div class="row">
        <div class="col-md-12 no-gutter" sec:authorize="isAuthenticated()">
            <div class="side btn-toogle__position">
                <div class="image__container">
                    <img src="/resources/img/pokemon.jpg" class="image-user rounded-circle" width="100%" />
                    <span class="user-title" th:text="${#authentication.getName()}">USERNAME</span>
                    <div class="user-role" th:if="${!#authentication.getAuthorities().isEmpty()}">
                        <p th:text="${T(winetavern.model.user.Roles).getDisplayNameRole(#authentication.getAuthorities()[0])}">ROLE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 no-gutter">
            <div class="list-group">

                <!-- DASHBOARD-->

                <a th:href="@{/}" class="list-group-item list-group-item-action side__menu side-module__container">
                    <i class="fa fa-th fa-lg" aria-hidden="true"></i>
                    <span>Dashboard</span>
                </a>

                <!-- KARTE -->


                <a th:href="@{/admin/daymenulist}" class="list-group-item list-group-item-action side__menu side-module__container">
                    <i class="fa fa-cutlery fa-lg" aria-hidden="true"></i>
                    <span>Karte</span>
                </a>

                <!-- RESERVIERUNG-->
                <!-- TODO: richtige Rolle für Reservierungen setzen -->

                <a th:href="@{/reservation}" class="list-group-item list-group-item-action side__menu side-module__container" data-toggle="collapse" data-target="#reservierungen">
                    <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
                    <span>Reservierung</span>
                </a>
                <div id="reservierungen" class="collapse">
                    <a th:href="@{/reservation}" class="list-group-item list-group-item-action side__menu side-module__container">
                        <span>Abfrage</span>
                    </a>
                    <a th:href="@{/reservation/showall}" class="list-group-item list-group-item-action side__menu side-module__container">
                        <span>Alle anzeigen</span>
                    </a>
                </div>

                <!-- ABRECHNUNG -->

                <a href="#" class="list-group-item list-group-item-action side__menu side-module__container" data-toggle="collapse" data-target="#rechnungen">
                    <i class="fa fa-eur fa-lg" aria-hidden="true"></i>
                    <span>Abrechnung</span>
                </a>
                <div id="rechnungen" class="collapse">
                    <a th:href="@{/accountancy/accountancy}" sec:authorize="hasAnyRole('ROLE_ACCOUNTANT','ROLE_ADMIN')" class="list-group-item list-group-item-action side__menu side-module__container">
                        <span>Tagesabrechnung</span>
                    </a>
                    <a th:href="@{/service/accountancy}" sec:authorize="hasAnyRole('ROLE_SERVICE','ROLE_ADMIN')" class="list-group-item list-group-item-action side__menu side-module__container">
                        <span>Rechnungen</span>
                    </a>
                </div>


                <!-- LAGER -->

                <a th:href="@{/admin/stock}" class="list-group-item list-group-item-action side__menu side-module__container" sec:authorize="hasRole('ROLE_ADMIN')">
                    <i class="fa fa-list fa-lg" aria-hidden="true"></i>
                    <span>Lager</span>
                </a>

                <!-- EVENTS -->

                <a href="#" class="list-group-item list-group-item-action side__menu side-module__container" data-toggle="collapse" data-target="#events" sec:authorize="hasRole('ROLE_ADMIN')">
                    <i class="fa fa-bookmark fa-lg" aria-hidden="true"></i>
                    <span>Events</span>
                </a>
                <div id="events" class="collapse">
                    <a th:href="@{/admin/events}" class="list-group-item list-group-item-action side__menu side-module__container">
                        <span>Events</span>
                    </a>
                    <a th:href="@{/events}" class="list-group-item list-group-item-action side__menu side-module__container">
                        <span>Events</span>
                    </a>
                </div>

                <!-- MANAGEMENT-->

                <a href="#" class="list-group-item list-group-item-action side__menu side-module__container" data-toggle="collapse" data-target="#management" sec:authorize="hasRole('ROLE_ADMIN')">
                    <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                    <span>Management</span>
                </a>
                <div id="management" class="collapse">
                    <a th:href="@{/admin/management/users}" class="list-group-item list-group-item-action side__menu side-module__container" >
                        <span>Users</span>
                    </a>
                    <a th:href="@{/users}" class="list-group-item list-group-item-action side__menu side-module__container">
                        <span>Users</span>
                    </a>
                    <a th:href="@{/admin/management/shifts}" class="list-group-item list-group-item-action side__menu side-module__container">
                        <span>Shifts</span>
                    </a>
                </div>

                <!-- SETTINGS -->

                <a th:href="@{/admin/settings}" class="list-group-item list-group-item-action side__menu side-module__container" sec:authorize="hasRole('ROLE_ADMIN')">
                    <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                    <span>Settings</span>
                </a>
            </div>
        </div>
    </div>
</div>