    <!--ASIDE-->

        <div class="col-md-3" th:fragment="side">

            <!--HEADER-->

            <div class="row">
                <div class="col-md-12 no-gutter">
                    <div class="side__header">
                        test
                    </div>
                </div>
            </div>

            <!--IMAGE + TITLE-->

            <div class="row">
                <div class="col-md-12 no-gutter" sec:authorize="isAuthenticated()">
                    <div class="side btn-toogle__position">
                        <div class="image__container">
                            <img src="../resources/img/pokemon.jpg" class="image-user rounded-circle"/>
                            <span class="user-title" th:text="${#authentication.getName()}">USERNAME</span>
                            <div th:if="${!#authentication.getAuthorities().isEmpty()}">
                                <p th:text="${#authentication.getAuthorities()[0]}">ROLE</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--1.  MODULE-->
            <div class="row">
                <div class="col-xs-12 no-gutter">
                    <a th:href="@{/}">
                        <div class="side__menu side-module__container">
                            <i class="fa fa-th" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </div>
                    </a>
                </div>
            </div>

            <!--2. MODULE-->

            <div class="row">
                <div class="col-xs-12 no-gutter">
                    <div class="side__menu side-module__container">
                        <i class="fa fa-th" aria-hidden="true"></i>
                        <span>Karte</span>
                    </div>
                </div>
            </div>

            <!--3. MODULE-->

            <div class="row">
                <div class="col-xs-12 no-gutter">
                    <div class="side__menu side-module__container">
                        <i class="fa fa-th" aria-hidden="true"></i>
                        <span>Reservierung</span>
                    </div>
                </div>
            </div>

            <!--4. MODULE-->

            <div class="row">
                <div class="col-xs-12 no-gutter">
                    <div class="side__menu side-module__container">
                        <i class="fa fa-th" aria-hidden="true"></i>
                        <span>Abrechnung</span>
                    </div>
                </div>
            </div>

            <!--5. MODULE-->

            <div class="row">
                <div class="col-xs-12 no-gutter">
                    <div class="side__menu side-module__container">
                        <i class="fa fa-th" aria-hidden="true"></i>
                        <span>Lager</span>
                    </div>
                </div>
            </div>

            <!--6. MODULE-->

            <div class="row">
                <div class="col-xs-12 no-gutter">
                    <div class="side__menu side-module__container">
                        <i class="fa fa-th" aria-hidden="true"></i>
                        <span>Events</span>
                    </div>
                </div>
            </div>

            <!--7. MODULE-->

            <div class="row">
                <div class="col-xs-12 no-gutter">
                    <a th:href="@{/admin/users}">
                        <div class="side__menu side-module__container">
                            <i class="fa fa-th" aria-hidden="true"></i>
                            <span>Management</span>
                        </div>
                    </a>
                </div>
            </div>

            <!--8. MODULE-->

            <div class="row">
                <div class="col-xs-12 no-gutter">
                    <div class="side__menu side-module__container">
                        <i class="fa fa-th" aria-hidden="true"></i>
                        <span>Settings</span>
                    </div>
                </div>
            </div>
        </div>
