<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="backend-temp :: page">
<head th:include="links::links">

    <title>Dashboard</title>

</head>
<body th:fragment="content">
<div class="dashboard__wrap">
<div class="container__wrap">
    <h1 class="text-xs-center">Heute,
        <span th:text="${helper.localDateTimeToDateString(time.getTime())}"></span></h1>
</div>


    <div class="row row-eq-height">
        <div class="col-xs-4">
            <div class="container__wrap">
                <p class="text-xs-center">Dienste
                    <a th:href="@{/admin/management/shifts/add}" style="color:unset;" sec:authorize="hasRole('ROLE_ADMIN')">
                        <i class="fa fa-plus-circle"></i>
                    </a>
                </p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Zeit</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="shift:${shifts}" th:style="(${shift.employee.userAccount.id.toString()} == ${#authentication.getName()})? ('font-weight:bold;color:#1D997D'):('')">
                            <td th:text="${shift.employee}"></td>
                            <td
                                    th:text="${shift.interval.start.toLocalTime()} + ' - ' + ${shift.interval.end.toLocalTime()}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="container__wrap">
            <p class="text-xs-center">
                Reservierungen
                <a th:href="@{/service/reservation}" style="color:unset;" sec:authorize="hasRole('ROLE_ADMIN')">
                    <i class="fa fa-plus-circle"></i>
                </a></p>
                <div id="timeline" style="height:300px;" th:if="${reservations.length() > 0}"></div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="container__wrap">
                <p class="text-xs-center">
                    Speisekarte
                    <a th:href="${daymenu}? (@{'/admin/menu/edit/' + ${daymenu.id}}): (@{'/admin/menu/add'})"
                       style="color:unset;"  sec:authorize="hasRole('ROLE_ADMIN')">
                        <i class="fa fa-plus-circle"></i>
                    </a>
                </p>
                <table class="table table-striped" th:if="${daymenu}">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Preis</td>
                        </tr>
                    </thead>
                    <tbody  style="font-size:.8rem">
                        <tr th:each="item:${daymenu.dayMenuItems}">
                            <td th:text="${item.name}" style="padding:.2rem"></td>
                            <td th:text="${helper.moneyToEuroString(item.price)}" style="padding:.2rem"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="padding__box" th:if="!${daymenu}">
                    <div class="alert alert-danger" role="alert">
                        <i class="fa fa-exclamation-triangle"></i>
                        Noch keine Tageskarte!<br/><br/>
                        <div class=" text-xs-center">
                            <a th:href="@{/admin/menu/add}"  sec:authorize="hasRole('ROLE_ADMIN')">
                                <button type="button" class="btn btn-outline-danger">Anlegen
                            </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container__wrap umsatz__container">
        <p>Umsatz</p>
        <div id="chart"></div>
    </div>
</div>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var incomeString = /*[[${income}]]*/"";
    //alert(incomeString);
    var reservationString = /*[[${reservations}]]*/"";

    var array = reservationString.slice(0,-1).split("|");
    var objectArray = new Array();
    for(i = 0 ; i < array.length ; i++){
        objectArray[i] = JSON.parse("{" + array[i] + "}");
    }

    var reservationArray = new Array();
    var incomeArray = $.parseJSON(incomeString);

    for(i=0 ; i<objectArray.length ; i++){
        reservationArray[i]=new Array();
        reservationArray[i][0]=objectArray[i].table;
        reservationArray[i][1]=objectArray[i].person;
        reservationArray[i][2]=new Date(objectArray[i].start);
        reservationArray[i][3]=new Date(objectArray[i].end);
    }


    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart','bar','timeline'],'language':'de'});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        // Create the data table.
        var money = new google.visualization.arrayToDataTable(incomeArray);

        var reservations = new google.visualization.DataTable();
        reservations.addColumn({ type: 'string', id: 'Table' });
        reservations.addColumn({ type: 'string', id: 'Name' });
        reservations.addColumn({ type: 'date', id: 'Start' });
        reservations.addColumn({ type: 'date', id: 'End' });

        /*reservations.addRows([
            ["1","Engert",new Date(2016,12,19,10,0),new Date(2016,12,19,12,30)],
            ["1","Wilke",new Date(2016,12,19,13,0),new Date(2016,12,19,15,15)],
            ["2","Letz",new Date(2016,12,19,11,0),new Date(2016,12,19,13,45)],
            ["3","Wünsche",new Date(2016,12,19,12,45),new Date(2016,12,19,16,0)],
            ["5","Wilke",new Date(2016,12,19,20,0),new Date(2016,12,19,23,45)],
            ["7","Kunkler", new Date(2016,12,19,12,15), new Date(2016,12,19,14,30)]
        ]);*/
        reservations.addRows(reservationArray);

        // Set chart options
        var options = {
            title:'Umsatz der vergangenen 7 Tage',
            legend:{position:'right'},
            isStacked:true,
            seriesType:'bars',
            series:{
                2:{
                    type:'area',
                    visibleInLegend:false,
                    curveType:'function'
                }
            },
            colors:['green','red','blue']
        };

        var opt2 = {
            title:'Reservierungen des Tages',
            legend:'none',
            enableInteractivity:false,
            hAxis:{
                format:'HH:mm',
            }

        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ComboChart(document.getElementById('chart'));
        chart.draw(money, options);

        if(document.getElementById('timeline')) {
            var timeline = new google.visualization.Timeline(document.getElementById('timeline'));
            timeline.draw(reservations, opt2);
        }

    }
    /*]]>*/
</script>

</body>
</html>