<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="links::links"></head>
<body>

    <div th:fragment="svgtables">
        <svg version="1.1" id="svgtables" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1280 1024" style="enable-background:new 0 0 1280 1024;" xml:space="preserve">
        <style type="text/css">
            .st0{stroke:#000000;stroke-miterlimit:10;}
            .st1{fill:#FFFF00;stroke:#000000;stroke-miterlimit:10;}
            .st2{fill:#00FFFF;stroke:#000000;stroke-miterlimit:10;}
            .st3{fill:#534741;stroke:#000000;stroke-miterlimit:10;}
            .st4{font-family:'MyriadPro-Regular';}
            .st5{font-size:72px;}
            .st6{font-size:48px;}
        </style>
        <rect x="700.2" y="663.1" class="st0" width="65.2" height="289.9"/>
        <rect x="700.2" y="602.5" class="st0" width="338.2" height="60.7"/>
        <rect x="640" y="900.2" class="st1" width="52.8" height="52.8" id="B1"/>
        <rect x="640" y="808.1" class="st1" width="52.8" height="52.8" id="B2"/>
        <rect x="640" y="715.9" class="st1" width="52.8" height="52.8" id="B3"/>
        <rect x="640" y="623.8" class="st1" width="52.8" height="52.8" id="B4"/>
        <rect x="739" y="533.6" class="st1" width="52.8" height="52.8" id="B5"/>
        <rect x="826.4" y="533.6" class="st1" width="52.8" height="52.8" id="B6" />
        <rect x="915.9" y="533.6" class="st1" width="52.8" height="52.8" id="B7"/>
        <circle class="st1" cx="852.8" cy="560" r="0"/>
        <rect x="777.7" y="63.1" class="st2" width="339.3" height="146.1" id="2"/>
        <rect x="323.8" y="63.1" class="st2" width="316.2" height="146.1" id="1"/>
        <rect x="364.3" y="877.7" class="st2" width="105.6" height="83.1" id="7"/>
        <rect x="190.6" y="885" class="st2" width="105.6" height="83.1" id="6"/>
        <rect x="47.9" y="700.8" class="st2" width="84.9" height="121.9" id="5"/>
        <rect x="47.9" y="431.8" class="st2" width="84.9" height="121.9" id="3"/>
        <rect x="296.2" y="421.7" class="st2" width="84.9" height="121.9" id="4"/>
        <rect x="200.2" y="310.3" class="st3" width="21.3" height="432"/>
        <rect x="238.7" y="109.8" class="st1" width="52.8" height="52.8"/>
        <rect x="337.9" y="232.9" class="st1" width="52.8" height="52.8"/>
        <rect x="429.1" y="232.9" class="st1" width="52.8" height="52.8"/>
        <rect x="529.7" y="232.9" class="st1" width="52.8" height="52.8"/>
        <rect x="328.3" class="st1" width="52.8" height="52.8"/>
        <rect x="429.1" class="st1" width="52.8" height="52.8"/>
        <rect x="529.7" class="st1" width="52.8" height="52.8"/>
        <rect x="652.2" y="109.8" class="st1" width="52.8" height="52.8"/>
        <rect x="715" y="109.8" class="st1" width="52.8" height="52.8"/>
        <rect x="800" class="st1" width="52.8" height="52.8"/>
        <rect x="889.5" class="st1" width="52.8" height="52.8"/>
        <rect x="985.6" class="st1" width="52.8" height="52.8"/>
        <rect x="800" y="228.4" class="st1" width="52.8" height="52.8"/>
        <rect x="889.5" y="228.4" class="st1" width="52.8" height="52.8"/>
        <rect x="985.6" y="228.4" class="st1" width="52.8" height="52.8"/>
        <rect x="1140.9" y="109.8" class="st1" width="52.8" height="52.8"/>
        <rect x="312.3" y="348.4" class="st1" width="52.8" height="52.8"/>
        <rect x="311.4" y="560" class="st1" width="52.8" height="52.8"/>
        <rect x="64" y="348.4" class="st1" width="52.8" height="52.8"/>
        <rect x="64" y="571" class="st1" width="52.8" height="52.8"/>
        <rect x="64" y="641.1" class="st1" width="52.8" height="52.8"/>
        <rect x="64" y="839.5" class="st1" width="52.8" height="52.8"/>
        <rect x="106.4" y="900.2" class="st1" width="52.8" height="52.8"/>
        <rect x="217" y="808.1" class="st1" width="52.8" height="52.8"/>
        <rect x="390.7" y="803.5" class="st1" width="52.8" height="52.8"/>
        <rect x="503.3" y="892.9" class="st1" width="52.8" height="52.8"/>
        <text transform="matrix(1 0 0 1 465.3818 162.573)" class="st4 st5">1</text>
        <text transform="matrix(1 0 0 1 928.3486 162.5731)" class="st4 st5">2</text>
        <text transform="matrix(1 0 0 1 76.6295 511.9999)" class="st4 st5">3</text>
        <text transform="matrix(1.1217 0 0 1 319.3145 505.708)" class="st4 st5">4</text>
        <text transform="matrix(1 0 0 1 76.6296 785.4833)" class="st4 st5">5</text>
        <text transform="matrix(1 0 0 1 401.3485 945.719)" class="st4 st5">7</text>
        <text transform="matrix(1 0 0 1 227.7415 945.7191)" class="st4 st5">6</text>
        <text transform="matrix(1 0 0 1 646.2813 940.6629)" class="st4 st6">B1</text>
        <text transform="matrix(1 0 0 1 646.2814 849.5729)" class="st4 st6">B2</text>
        <text transform="matrix(1 0 0 1 640.0001 756.1011)" class="st4 st6">B3</text>
        <text transform="matrix(1 0 0 1 646.2815 667.5279)" class="st4 st6">B4</text>
        <text transform="matrix(1 0 0 1 741.3652 579.6967)" class="st4 st6">B5</text>
        <text transform="matrix(1 0 0 1 831.6184 579.6964)" class="st4 st6">B6</text>
        <text transform="matrix(1 0 0 1 915.9438 579.6964)" class="st4 st6">B7</text>
        </svg>
        <form id="tableSelector" method="get" action="/reservation">
            <input type="hidden" th:name="reservationtime" th:value="${reservationtime}"/>
            <input type="hidden" th:name="table" name="table"/>
        </form>

        <script th:inline="javascript" type="application/javascript">
        /*<![CDATA[*/
            var reservedTables = [[${reservations}]];
            $(reservedTables).each(function(index, value) {
                console.log(value);
                $("#"+value).css({fill : '#f00'});
            });
            $(".st4").click(function() {
                var tableName = $(this).text();
                console.log(tableName);
                $('input[name="table"]').val(tableName);
                $('#tableSelector').submit();
            });

        /*]]>*/
        </script>
    </div>
</body>
</html>