<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:include="backend-temp :: page">
<head th:include="links::links">

    <title>Konten</title>

</head>
<body th:fragment="content">

<!-- Calendar for birthday -->
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
<script>
    $(function() {
        $( "#birthday" ).datepicker({
            dateFormat: "yy/mm/dd",
            minDate:'1920/01/02',
            maxDate:'0',
        });
    });
</script>

<div class="users">
    <div class="row">   
        <div class="col-xs-12 text-xs-right">
            <div class="icon__wrap">
                <button id="cardBtn" class="icon__button icon-card btn btn-primary">
                    <i class="fa fa-th-large fa-fw fa-lg" aria-hidden="true"></i>
                </button>
                <button id="listBtn" class="icon__button active icon-list btn btn-primary">
                    <i class="fa fa-th-list fa-fw fa-lg" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>


<div class="container__wrap">
    <div class="heading">
        <div class="row">
            <div class="col-xs-6">
                <h1>
                    <span class="fa fa-users" ></span> Management (<span th:text="${personManager.findEnabled().size()}"></span> Konten)
                </h1>
            </div>
            <div class="col-xs-6 text-xs-right">
                <button type="button" class="btn btn-primary " data-toggle="modal"
                        data-target="#addNew">
                    <i class="fa fa-plus fa-fw"></i>
                    Konto
                </button>
            </div>
        </div>
    </div>
    <div  class="container__user-cards">
        <div class="row">
            <div class="col-xs-3" th:each="person : ${personManager.findEnabled()}">
                <div class="user-card" >
                    <div class="row">
                        <div class="col-xs-12 text-xs-center">
                            <img src="/resources/img/pokemon.jpg" class="image-user rounded-circle"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="user__wrap">
                                <span class="user-firstname" th:text="${person.userAccount.firstname}"></span>
                                <span class="user-lastname" th:text="${person.userAccount.lastname}"></span>
                                <span class="user-role" th:text="${person.displayNameOfRole}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container__table">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Rolle</th>
            <th>Anrede</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Nutzername</th>
            <th>Bearbeiten</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${personManager.findEnabled()}">
            <th th:text="${person.displayNameOfRole}"></th>
            <th th:text="${person.personTitle}"></th>
            <td th:text="${person.userAccount.firstname}"></td>
            <td th:text="${person.userAccount.lastname}"></td>
            <td th:text="${person.userAccount.username}"></td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        th:attr="data-target='#details'+${person.id}">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </button>
                <!-- show person details -->
                <div class="modal fade" th:id="details+${person.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Kontodetails ändern</h4>
                            </div>
                            <div class="modal-body">
                                <form id="productDetailsForm" th:action="@{'/admin/management/users/changeUser/' + ${person.id}}" method="post" th:object="${accountcredentials}">
                                    <div class="form-group" hidden = "true">
                                        <label for="id">Konto</label>
                                        <input type="text" class="form-control" name="id" id="id" readonly="true" />
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName">Nachname</label>
                                        <input type="text" class="form-control" th:value="${person.userAccount.lastname}" name="lastName" id="lastName" />
                                    </div>
                                    <div class="form-group">
                                        <label for="role">Rolle</label>
                                        <select type="text" class="form-control" name="role" id="role" >
                                            <option th:each="role : ${T(winetavern.model.user.Roles).values()}" th:text="${T(winetavern.model.user.Roles).getDisplayNameRole(role)}"
                                                    th:value="${role.getNameOfRoleWithPrefix()}"
                                                    th:selected="${T(winetavern.model.user.Roles).getDisplayNameRole(person.role).equals(T(winetavern.model.user.Roles).getDisplayNameRole(role))}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Adresse</label>
                                        <input type="text" class="form-control" th:value="${person.address.get()}" name="address" id="address" />
                                    </div>
                                    <div class="form-group">
                                        <a th:href="@{'/admin/management/users/disableUser/' + ${person.id}}">
                                            <button id="disablePerson" type="button" class="btn btn-secondary btn-block">Deaktiviere das Konto</button>
                                        </a>
                                    </div>
                                    <div class="row">
                                        <div class=" col-xs-6 text-xs-right pull-right">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                                            <button type="submit" class="button btn btn-primary">Ändern</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>

<!-- addPerson Modal -->
<div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="dunno" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Mitarbeiter hinzufügen</h3>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form method="post" th:action="@{/admin/management/users/addNew}" th:object="${accountcredentials}">
                        <div class="form__bg">
                            <div class="dark__bg">
                                <h2>Personendaten</h2>
                            </div>

                            <div class="form-group">
                                <label>Anrede</label>
                                <select class="form-control" name="personTitle">
                                    <option th:each="personTitle : ${T(winetavern.model.user.PersonTitle).values()}" th:text="${personTitle.getGerman()}"
                                            th:value="${personTitle.getGerman()}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Vorname</label>
                                <input name="firstName" type="text" class="form-control" placeholder="Hans" required="true"/>
                            </div>

                            <div class="form-group">
                                <label>Nachname</label>
                                <input name="lastName" type="text" class="form-control" placeholder="Müller" required="true"/>
                            </div>

                            <div class="form-group">
                                <label>Geburtstag</label>
                                <input name="birthday" type="text" id="birthday" class="form-control" th:value="${birthday}" pattern="[0-9]{4}/[0-9]{2}/[0-9]{2}"/>
                            </div>

                            <div class="form-group">
                                <label>Username</label>
                                <input name="username" type="text" class="form-control" placeholder="hMueller" required="true"/>
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <input name="password" type="password" class="form-control" required="true" pattern="[0-9]{4}"/>
                            </div>

                            <div class="form-group">
                                <label>Rolle</label>
                                <select class="form-control" name="role">
                                    <option th:each="role : ${T(winetavern.model.user.Roles).values()}" th:text="${T(winetavern.model.user.Roles).getDisplayNameRole(role)}"
                                            th:value="${role.getNameOfRoleWithPrefix()}"></option>
                                </select>
                            </div>

                            <div class="dark__bg">
                                <h2>Adresse</h2>
                            </div>
                            <div class="form-group">
                                <label>Adresse</label>
                                <input name="address" type="text" class="form-control" />
                            </div>

                            <div class="row">
                                <div class=" col-xs-6 text-xs-right">
                                    <button type="submit" class="button btn btn-primary">Erstellen</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>