<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="links::links">

        <title>Willkommen</title>
	</head>
	<body>
    <!--<div th:include="navigation::navigation-top" class="navigation-top text-xs-center"></div>-->

    <!--<div th:include="navigation::navigation-left" class="navigation-left h-100"></div>-->
        <!--<h1>WILLKOMMEN</h1>-->
        <!--<h2 sec:authorize="isAuthenticated()">Eingeloggt!</h2>-->
        <!--<h3 sec:authorize="isAuthenticated()" th:text="${'als ' + #authentication.getName()}">username</h3>-->
        <!--<ul>-->
            <!--<li><a th:href="@{/login}">zum Login</a></li>-->
            <!--<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/users}">zu den Benutzern</a></li>-->
        <!--</ul>-->
	</body>
</html>